@tailwind base;
@tailwind components;
@tailwind utilities;

.Hero {
  background-image: url("/icons/hero-bg.svg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  gap: 50px;
}
